*,
::before,
::after {
    box-sizing: border-box;
}
:root {
    --primary-color: #5d3bee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    background: #fff;
}

/* common */
a {
    text-decoration: none;
}

.btn {
    display: block;
    text-align: center;
    --height: 62px;
    width: 170px;
    height: var(--height);
    flex-shrink: 0;
    background: #5d3bee;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: var(--height); /* 166.667% */
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
/* header */

.header {
    position: relative;
    height: 100vh;
    background: #fbfaff;
}

.header-decor {
    position: absolute;
    flex-shrink: 0;
    bottom: 0;
    right: 0;
}

.header-wrap {
    height: 100%;
    width: 1330px;
    max-width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.logo-wrap {
    display: flex;
    gap: 0 10px;
    align-items: center;
    margin-right: auto;
}

.logo {
    width: 46px;
    height: 46px;
}

.logo-link {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500; /* 136.364% */
    text-decoration-line: underline;
}
.header__top {
    padding-top: 47px;
}

.header__inner {
    display: flex;
    align-items: center;
    position: relative;
}

.memoji-header {
    position: absolute;
    width: 8%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-item {
    padding: 12px 22px;
    color: #51586a;
    font-size: 1.8rem;
}

/* hero */

.hero {
    height: calc(100% - 93px);
    display: flex;
    align-items: end;
}

.hero__inner {
    display: flex;
    align-items: center;
    gap: 0 156px;
}

.hero__media {
    width: 44%;
    flex-shrink: 0;
    position: relative;
}

.hero__img {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
}

.hero__img-decor {
    width: 875.635px;
    position: absolute;
    flex-shrink: 0;
    bottom: 0;
    left: -213px;
}

.hero__title {
    width: 500px;
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95; /* 95% */
    letter-spacing: -3.2px;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.hero__cta-wrap {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.hero__cta-secondary {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66; /* 166.667% */
    text-decoration-line: underline;
}

.hero__meida {
    margin-top: 104px;
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.hero__meida-label {
    color: #51586a;
    font-weight: 500;
}

.hero__media-list {
    display: flex;
    gap: 20px;
}

/* clients */

.clients {
    margin-top: 100px;
}

.clients__inner {
    display: flex;
    align-items: center;
    gap: 0 105px;
}

.client__heading {
    position: relative;
    display: block;
    margin-left: 99px;
    width: 253px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19; /* 119.048% */
    letter-spacing: -1.68px;
    flex-shrink: 0;
}

.client__heading::before {
    content: "";
    position: absolute;
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
    top: 22px;
    left: -99px;
}

.clients__list {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 34px;
}

/* special */

.special {
    margin-top: 133px;
    margin-bottom: 140px;
}

.special__top {
    text-align: center;
}

.special__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17; /* 117.857% */
    letter-spacing: -2.24px;
}

.special__desc {
    display: inline-block;
    margin-top: 20px;
    width: 534px;
    color: #51586a;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.special-margin {
    margin-top: 60px;
    gap: 24px 0;
    display: flex;
    align-items: center;

    justify-content: center;
}

.special-item {
    padding: 33px 42px;
    background: #fbfaff;
}

.special-item__img {
    width: 74px;
    height: 80px;
    flex-shrink: 0;
}

.special-item_title {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
    text-wrap: nowrap;
}

.special-item__desc {
    margin-top: 15px;
    width: 285px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.project__img {
    width: 100%;
    display: block;
}

.project__list {
    gap: 30px 0;
}

.project {
    background-color: var(--primary-color);
}
